mixin AboutBox(config)
	section.about-box
		h2.about-box__title <span>ВІДЕО ОГЛЯД</span> <br/>АКУМУЛЯТОРНОГО LED ЛІХТАРИКА
		.about-box__video-wrap
			.about-box__video
				iframe.about-box__video-i(
					width="100%",
					height="315",
					src="https://www.youtube.com/embed/2aG8XIr1bKo",
					title="YouTube video player",
					frameborder="0",
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
					allowfullscreen=""
				)
				iframe.about-box__video-i(
					width="100%",
					height="315",
					src="https://www.youtube.com/embed/d6KifjzDqk4",
					title="YouTube video player",
					frameborder="0",
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
					allowfullscreen=""
				)
		.about-box__content
			.about-box__text Акумуляторний світлодіодний ліхтарик виручить у будь-якій ситуації: під час вечірньої прогулянки та відпочинку на природі, у разі раптових проблем із електропостачанням або якщо терміново потрібно відремонтувати машину
			.about-box__image
				img.about-box__image-i(
					src="assets/img/about-box-image-1.jpg",
					width="480",
					height="494",
					loading="lazy",
					alt=""
				)
			.about-box__text Ліхтарик оснащений карабіном, вбудованим магнітом і затискною підставкою, що в результаті дає безліч можливих сценаріїв використання: <br/>- закріпити на металевій поверхні (на холодильнику чи автомобілі); <br/>- причепити до рюкзака, пояса, нашийника тварини, намету; <br/>- встановити на столі чи іншій поверхні. <br/>Крім того, аксесуар зручно тримати у руці, адже світлодіоди не нагріваються
			.about-box__image
				img.about-box__image-i(
					src="assets/img/about-box-image-2.jpg",
					width="480",
					height="494",
					loading="lazy",
					alt=""
				)
			.about-box__text <strong>Це мультінструмент</strong> <br/>У дизайні ліхтарика передбачено виріз характерної форми, що дозволяє використовувати його як гайковий ключ. <br/>На задній панелі знаходиться набір насадок, які надають ліхтарику функції викрутки. Вони знімні та легко чергуються в залежності від типу гвинтів, з якими ви працюєте. <br/>Вбудований аварійний молоток допоможе розбити скло для швидкої евакуації з машини у разі аварії. <br/>А ще ліхтарик послужить відкривалкою для пляшки, свистком чи прикурювачем.
			.about-box__image
				img.about-box__image-i(
					src="assets/img/about-box-image-3.jpg",
					width="480",
					height="494",
					loading="lazy",
					alt=""
				)
