include ../mixins/Footer
include ../mixins/Header

//- Global Variables
block variables
  - var CWD = "";
  - var attrsHtml = { lang: "uk", dir: dir || "ltr" };
  - var title = "Softbook";
  - var attrsBody = {};
  - var attrsMain = {};
  - var attrsLayout = {};
  - var APIGmap = "";

doctype html
html&attributes(attrsHtml)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=480")

    title= title

    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href=`${CWD}assets/img/favicons/apple-touch-icon.png`
    )
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href=`${CWD}assets/img/favicons/favicon-32x32.png`
    )
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href=`${CWD}assets/img/favicons/favicon-16x16.png`
    )
    link(rel="manifest", href=`${CWD}assets/img/favicons/site.webmanifest`)
    meta(name="theme-color" content="#2b2d32")

    link#style-default(
      href=`${CWD}assets/css/styles.min.css`,
      type="text/css",
      rel="stylesheet"
    )

  body&attributes(attrsBody)
    block beforeMainContent

    //- +Header

    main.main&attributes(attrsMain)
      block mainContent

    +Footer

    block afterMainContent

    block layoutScripts

    block scripts
      link(
        href=`${CWD}vendors/swiper/swiper-bundle.min.css`,
        type="text/css",
        rel="stylesheet"
      )
      script(src=`${CWD}assets/js/main.js`)

    block footerStyles
